body,html {
  font-family: 'Urbanist', sans-serif;
  background-color: #242935;
  width: 100vw;
  overflow-x: hidden;
}

.noBannerStyle {
    width: 91vw;
    height: 100vh;
    background-color: #242935;
}
.custom-write {
  font-size: 90px;
}
@media (max-width: 700px) {

  .custom-write {
    font-size: 50px;
  }
  .noBannerStyle {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    overflow:hidden
  }
}