*{margin: 0; padding: 0;}

#welcome {
    padding: 0 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.menu {
    display: none;
}
.name {
    color: #909096;
    font-size: 25px;
    padding: 30px 0;
}
.contact-button {
    width: 13%;
    height: 5vh;
    font-size: 1em;
    border: 1px solid #08fdd8;
    background-color: transparent;
    color: #08fdd8;
}

@media (max-width: 650px) {
    .menu {
        display: block;
        background-color: transparent;
        border: 0;
        position: absolute;
        top: 50px;
    }
    #welcome {
        padding: 0 30px;
    }
    .name {
        font-size: 20px;
    }
    .contact-button {
        width: 50%;
    }

}